<configuration>
  <system.webServer>
    <httpErrors errorMode="Detailed"></httpErrors>
  </system.webServer>
  <appSettings>
    <add key="AWSProfileName" value="samrae" />
    <!-- Configure the SDK to use System.Diagnostics -->
    <add key="AWSLogging" value="SystemDiagnostics"/>
  </appSettings>

  <system.diagnostics>
    <trace autoflush="true"/>

    <sources>
      <source name="Amazon">
        <listeners>
          <add name="text" 
               type="System.Diagnostics.TextWriterTraceListener" 
               initializeData="c:Logssdk-log.txt"/>
          <add name="file" type="System.Diagnostics.TextWriterTraceListener" initializeData="trace.log"/>
        </listeners>
      </source>
    </sources>

  </system.diagnostics>
  <httpProtocol>
    <customHeaders>
        <add name="Access-Control-Expose-Headers" value="Location" />
      </customHeaders>
  </httpProtocol>
</configuration>